<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Php- new" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Either" />
            <add name="PHP-FastCgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
